@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, #root {
  margin: 0;
  background-color: #151719;
}

.app {
  background-color: #151719;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #9ca9b3;
}